<ion-header no-border>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="ios-arrow-back" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="editData()" *ngIf="editbtn==0">
        <ion-icon src="assets/icon-image/edit.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="editbtn==1" class="btn-save ion-text-capitalize" (click)="saveProfile()">
        Save
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <div class="square">
    <div class="pic">
      <img
        src="https://images.pexels.com/photos/1308881/pexels-photo-1308881.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
  </div>

  <h3 class="name">Aaron Grand</h3>
  <p class="email">aarongrand@gmail.com</p>
</ion-header>

<ion-content>
  <form class="ion-margin-horizontal">
    <ion-item lines="none" class="item_div">
      <ion-label position="stacked" class="lbl_name" mode="md">Name</ion-label>
      <ion-input required type="text" [value]="data?.name" [readonly]="editbtn == 0 ? 'true':'false'"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item_div">
      <ion-label position="stacked" class="lbl_name" mode="md">Email</ion-label>
      <ion-input required type="text" [value]="data?.email" [readonly]="editbtn == 0 ? 'true':'false'"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item_div">
      <ion-label position="stacked" class="lbl_name" mode="md">Phone number</ion-label>
      <ion-input required type="text" [value]="data?.phone" [readonly]="editbtn == 0 ? 'true':'false'"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item_div">
      <ion-label position="stacked" class="lbl_name" mode="md">Address</ion-label>
      <ion-input required type="text" [value]="data?.address" [readonly]="editbtn == 0 ? 'true':'false'"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item_div">
      <ion-label position="stacked" class="lbl_name" mode="md">Set Available Time</ion-label>
      <ion-input required type="text" [value]="data?.available" [readonly]="editbtn == 0 ? 'true':'false'"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item_div">
      <ion-label position="stacked" class="lbl_name" mode="md">Select Service</ion-label>
      <ion-icon name="ios-arrow-down" (click)="presentAlertRadio()"></ion-icon>
      <ion-input required type="text" [value]="data?.service" [readonly]="editbtn == 0 ? 'true':'false'"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item_div">
      <ion-label position="stacked" class="lbl_name" mode="md">Service Price</ion-label>
      <ion-input required type="text" [value]="data?.price" [readonly]="editbtn == 0 ? 'true':'false'"></ion-input>
    </ion-item>
  </form>
</ion-content>