ion-menu {
  --ion-background-color: var(--ion_color_main);
  --ion-text-color: var(--ion_white);
  ion-icon {
    color: var(--ion_white);
  }
  ion-list {
    background: transparent;
  }
  ion-header {
    ion-toolbar {
      height: 159px;
      border-bottom: solid 5px;
      z-index: 0;
      --background: url(../assets/image/menu-back-img.png);
      background-repeat: no-repeat;
      background-size: 100%;
      ion-buttons {
        ion-button {
          ion-icon {
            color: var(--ion_white);
          }
        }
      }
    }
    .img_div {
      margin-top: -50px;
      .square {
        transform: rotate(-45deg);
        width: 100px;
        height: 100px;
        margin: 24px;
        border: 5px solid var(--ion_white);
        overflow: hidden;
        border-radius: 28%;
        margin: auto;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      }
      .pic {
        transform: rotate(45deg);
        overflow: hidden;
        width: 135px;
        height: 135px;
        margin: -18px;
        img {
          width: 135px;
          height: 135px;
        }
      }
      .name {
        font-size: 20px;
        font-family: 'Roboto_Medium';
        color: var(--ion_white);
        margin-bottom: 0px;
      }
      .text {
        font-size: 16px;
        font-family: 'Roboto_Regular';
        color: var(--ion_white);
        margin-top: 7px;
      }
    }
  }
  ion-content {
    ion-item {
      --inner-padding-start: 20vw;
      ion-icon {
        height: 17px;
        width: 20px;
        margin-right: 15px;
      }
      ion-label {
        font-size: 16px;
        font-family: 'Roboto_Medium';
      }
    }
    .active {
      --background: var(--ion_dark_blue);
    }
  }
  ion-footer {
    display: flex;
    p {
      font-size: 16px;
      font-family: 'Roboto_Medium';
      color: var(--ion_white);
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
      ion-icon {
        margin-right: 5px;
        height: 16px;
        width: 16px;
      }
    }
    .second_p {
      text-align: right;
    }
  }
}
