<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header no-border>
        <ion-toolbar>
          <ion-buttons slot="end" class="close_button">
            <ion-button (click)="closeMenu()">
              <ion-icon name="ios-arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div class="img_div ion-text-center">
          <div class="square">
            <div class="pic">
              <img
                src="https://images.pexels.com/photos/1308881/pexels-photo-1308881.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <h3 class="name">
            Harry Garrett
          </h3>
          <p class="text">harrygarrett@gmail.com</p>
        </div>

      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="p.url" detail="false" [routerLinkActive]="['active','']"
              lines="none">
              <ion-icon [src]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer no-border>
        <p (click)="setting()">
          <ion-icon src="assets/icon-image/setting-menu.svg"></ion-icon>Setting
        </p>
        <p class="ion-float-right second_p" (click)="SignOut()">
          <ion-icon src="assets/icon-image/signout-menu.svg"></ion-icon>Signout
        </p>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>