.header_div {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
}
ion-content {
  .text_p {
    font-size: 15px;
    color: var(--ion_dark_blue);
    font-family: 'Roboto_Medium';
    padding-left: 16px;
    margin-bottom: 0px;
  }
  form {
    .item_div {
      img {
        margin-right: 15px;
      }
      ion-input {
        color: var(--ion_dark_blue);
        font-size: 14px;
      }
      .input_service {
        border-bottom: solid 1px var(--ion_border);
      }
      ion-icon {
        height: 5px;
        width: 10px;
      }
    }
    .text_area {
      border-radius: 5px;
      border: solid 1px var(--ion_border);
      width: auto;
      font-size: 12px;
      font-family: 'Roboto_Regular';
      color: var(--ion_type_gray);
      line-height: 19px;
      padding: 0px 10px 0px 6px;
    }
  }
  .img_div_service {
    display: flex;
    padding-top: 10px;
    .upload_div {
      padding-top: 10px;
      height: 98px;
      width: 98px;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 16px;
      ion-icon {
        height: 30px;
        width: 30px;
        color: var(--ion_img_icon);
      }
    }
  }
  .calnder_div {
    padding-top: 10px;
    background-color: var(--ion_color_main);
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 15px;
    .view_p {
      text-align: center;
      margin: 0px;
      font-family: 'Roboto_Regular';
      font-size: 18px;
      color: var(--ion_white);
      padding-bottom: 10px;
      border-bottom: solid 1px var(--ion_white);
    }
    table {
      margin-left: 50px;
      margin-right: 50px;
    }
    tbody td {
      border: 0px solid !important;
    }
    .table-bordered {
      background-color: var(--ion_color_main);
      border: none;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
      padding: 3px !important;
      line-height: 25px;
      vertical-align: top;
    }
    table tbody td {
      font-size: 12px !important;
      font-family: 'Roboto_Regular' !important;
    }
    thead tr th {
      border: none !important;
      color: var(--ion_white);
      font-size: 16px !important;
      font-family: 'Roboto_Regular' !important;
      font-weight: normal;
    }
    .monthview-selected {
      background-color: var(--ion_white) !important;
      color: var(--ion_color_main);
      border-radius: 18px;
    }
    .monthview-current {
      background-color: var(--ion_white) !important;
      color: var(--ion_color_main);
      border-radius: 18px;
    }
    .event-detail-container {
      border-top: 0px var(--ion_dark_gray) solid;
      display: none;
    }
    .select_p {
      font-size: 14px;
      color: var(--ion_white);
      text-align: center;
      font-family: 'Roboto_Regular';
      margin-top: 0;
      padding-top: 10px;
      border-top: solid 1px;
    }
    .monthview-primary-with-event {
      background-color: var(--ion_color_main);
    }
    td,
    th {
      color: var(--ion_white);
    }

    .text-muted {
      color: var(--ion_dark_gray) !important;
    }
    .monthview-secondary-with-event {
      background-color: transparent;
    }
    .time_slot {
      padding-left: 10px;
      display: flex;
      white-space: nowrap;
      overflow-x: scroll;
      span {
        font-size: 12px;
        color: var(--ion_white);
        font-family: 'Roboto_Regular';
        opacity: 0.5;
        margin: auto 10px;
      }
      .active {
        font-size: 14px;
        opacity: 1;
      }
    }
    .time_slot::-webkit-scrollbar {
      display: none !important;
    }
  }
}
