ion-header {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
}

ion-content {
  .main_div {
    ion-item {
      padding-right: 16px;
      --inner-padding-end: 0px;
      p {
        font-size: 16px;
        color: var(--ion_dark_blue);
        font-family: 'Roboto_Medium';
        width: 100%;
        .auto {
          font-size: 12px;
          font-family: 'Roboto_Medium';
          color: var(--ion_max);
        }
        span {
          font-size: 14px;
          color: var(--ion_color_main);

          .switch {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 17px;

            input {
              opacity: 0;
              width: 0;
              height: 0;
            }
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: var(--ion_middle_gray);
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }
            .slider:before {
              position: absolute;
              content: '';
              height: 13px;
              width: 13px;
              left: 2px;
              bottom: 2px;
              background-color: var(--ion_white);
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }
            input:checked + .slider {
              background-color: var(--ion_color_main);
            }
            input:focus + .slider {
              box-shadow: 0 0 1px var(--ion_color_blue);
            }
            input:checked + .slider:before {
              -webkit-transform: translateX(13px);
              -ms-transform: translateX(13px);
              transform: translateX(13px);
            }
            .slider.round {
              border-radius: 20px;
            }
            .slider.round:before {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
