<ion-header no-border>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home" icon="ios-arrow-back" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>change password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #f="ngForm" class="ion-margin-horizontal">
    <ion-input input-text required name="oldPassword" [(ngModel)]="user.oldPassword" placeholder="Old Password"
      type="password">
    </ion-input>
    <ion-input input-text required name="newPassword" [(ngModel)]="user.newPassword" placeholder="New Password"
      type="password">
    </ion-input>

    <ion-input input-text required name="confirmPassword" [(ngModel)]="user.confirmPassword"
      placeholder="Conform Password" type="password">
    </ion-input>
    <ion-button class="otp_btn" mode="md" (click)="save()">
      Save
    </ion-button>
  </form>
</ion-content>