<ion-header no-border>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home" icon="ios-arrow-back" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isjobpost">Appliance Repair</ion-title>
    <ion-title *ngIf="isjobpost">Service Provider</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row class="ion-no-padding">
    <ion-col (click)="changeTab('Active')">
      <div class="btn-div " [ngClass]="{ active: activeTab == 'Active' }">
        Rating <ion-icon src="assets/icon-image/dropdown_arrow.svg" class="down_icon"></ion-icon>
      </div>
    </ion-col>
    <ion-col (click)="changeTab('Completed')">
      <div class="btn-div" [ngClass]="{ active: activeTab == 'Completed' }">
        Price <ion-icon src="assets/icon-image/dropdown_arrow.svg" class="down_icon"></ion-icon>
      </div>
    </ion-col>
    <ion-col (click)="changeTab('Cancel')">
      <div class="btn-div" [ngClass]="{ active: activeTab == 'Cancel' }">
        Available <ion-icon src="assets/icon-image/dropdown_arrow.svg" class="down_icon"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ng-container [ngSwitch]="activeTab">
    <ng-container *ngSwitchCase="'Active'">
      <div class="data_div">
        <ion-item *ngFor="let item of data?.provider" (click)="provide_detail()">
          <img [src]="item?.image" slot="start">
          <ion-label>
            <h3 class="name">{{item?.name}} <span class="ion-float-right"> ${{item?.price}}</span></h3>
            <h3 class="type">{{item?.type}} </h3>
            <p class="rate">
              <ion-icon name="star" [class]="item?.rate >=1 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=2 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=3 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=4 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=5 ? 'icon_color':'icon_deafault'"></ion-icon>
              <span class="review">{{item?.review}} Review</span>
              <span class="ion-float-right instant">{{item?.isAvail}}</span>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'Completed'">
      <div class="data_div">
        <ion-item *ngFor="let item of data?.provider" (click)="provide_detail()">
          <img [src]="item?.image" slot="start">
          <ion-label>
            <h3 class="name">{{item?.name}} <span class="ion-float-right"> ${{item?.price}}</span></h3>
            <h3 class="type">{{item?.type}} </h3>
            <p class="rate">
              <ion-icon name="star" [class]="item?.rate >=1 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=2 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=3 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=4 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=5 ? 'icon_color':'icon_deafault'"></ion-icon>
              <span class="review">{{item?.review}} Review</span>
              <span class="ion-float-right instant">{{item?.isAvail}}</span>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'Cancel'">
      <div class="data_div">
        <ion-item *ngFor="let item of data?.provider" (click)="provide_detail()">
          <img [src]="item?.image" slot="start">
          <ion-label>
            <h3 class="name">{{item?.name}} <span class="ion-float-right"> ${{item?.price}}</span></h3>
            <h3 class="type">{{item?.type}} </h3>
            <p class="rate">
              <ion-icon name="star" [class]="item?.rate >=1 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=2 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=3 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=4 ? 'icon_color':'icon_deafault'"></ion-icon>
              <ion-icon name="star" [class]="item?.rate >=5 ? 'icon_color':'icon_deafault'"></ion-icon>
              <span class="review">{{item?.review}} Review</span>
              <span class="ion-float-right instant">{{item?.isAvail}}</span>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ng-container>
  </ng-container>
</ion-content>