<ion-content>
    <ion-slides pager>
        <ion-slide>
            <div class="img_div">
                <img src="assets/icon-image/time_slide.svg" />
                <h3 class="slide_name">SAVE YOUR TIME</h3>
                <p class="slide_info">
                    There are many variations of Lorem Ipsum available, but the majority
                    have suffered alteration in some form, by injected humor.
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="img_div slide_2">
                <img src="assets/icon-image/simple_slide.svg" />
                <h3 class="slide_name">SIMPLE BOOKING</h3>
                <p class="slide_info">
                    There are many variations of Lorem Ipsum available, but the majority
                    have suffered alteration in some form, by injected humor.
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="img_div slide_3">
                <img src="assets/icon-image/service_slide.svg" />
                <h3 class="slide_name">100+ SERVICES</h3>
                <p class="slide_info">
                    There are many variations of Lorem Ipsum available, but the majority
                    have suffered alteration in some form, by injected humor.
                </p>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-button class="skip ion-float-right" (click)="home()">
        Skip
    </ion-button>
</ion-content>