<ion-content>
  <ion-slides pager>
    <ion-slide>
      <div class="img_div">
        <img src="assets/image/slide-one.png">

        <div class="time_div">
          <div class="set_div">
          </div>
          <div class="set_div">
          </div>
        </div>
        <h3 class="slide_name">SET AVAILABLE TIME</h3>
        <p class="slide_info">There are many variations of Lorem Ipsum available, but the majority
          have suffered alteration in some form, by injected humor.
        </p>
      </div>

    </ion-slide>
    <ion-slide>
      <div class="img_div">
        <img src="assets/image/slide-two.png">
        <h3 class="slide_name">SIMPLE BOOKING</h3>
        <p class="slide_info">There are many variations of Lorem Ipsum available, but the majority
          have suffered alteration in some form, by injected humor.
        </p>
      </div>
    </ion-slide>
    <ion-slide>

      <div class="img_div">
        <img src="assets/image/slide-third.png">
        <h3 class="slide_name"> 100+ SERVICES</h3>
        <p class="slide_info">There are many variations of Lorem Ipsum available, but the majority
          have suffered alteration in some form, by injected humor.
        </p>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-button class="skip ion-float-right" (click)="home()">
    Skip
  </ion-button>
</ion-content>