<ion-content>
  <img src="assets/image/upper-design.png" class="silde_img">
  <div class="img_div">
    <img src="assets/image/op.png">
    <h3 class="name">Ecopera</h3>
    <p class="sub">Copera a la ecología con Ecopera</p>
    <p class="tittle">Registrate</p>
  </div>
  <form class="ion-margin-horizontal">
    <ion-item lines="none" mode="md">
      <ion-icon src="assets/icon-image/man.svg" slot="start"></ion-icon>
      <ion-input required type="text" placeholder="Ryan Cooper"></ion-input>
    </ion-item>
    <ion-item lines="none" mode="md">
      <ion-icon src="assets/icon-image/gmail.svg" slot="start"></ion-icon>
      <ion-input required type="text" placeholder="ryancooper@gmail.com"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item_div" mode="md">
      <ion-icon src="assets/icon-image/padlock.svg" slot="start"></ion-icon>
      <ion-input required [type]="showPassword == true ? 'text' : 'password'" placeholder="* * * * * * * *">
      </ion-input>
      <ion-button class="trans-btn eye_btn" (click)="showPassword = !showPassword">
        <ion-icon *ngIf="!showPassword" name="eye"></ion-icon>
        <ion-icon *ngIf="showPassword" name="eye-off"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-button class="otp_btn sign_btn" (click)="login()">
      Registrate
    </ion-button>
  </form>
  <div class="later_div ion-text-center">
    <ion-button class="trans-btn later_btn" (click)="gotoHome()">
      sign in later
    </ion-button>
    <p class="or_p">OR</p>
    <div class="btn_div">
      <ion-button class="fb_btn">
        <ion-icon src="assets/icon-image/fb_icon.svg">
        </ion-icon>
      </ion-button>
      <ion-button class="gol_btn">
        <ion-icon name="logo-googleplus"></ion-icon>
      </ion-button>
      <ion-button class="tw_btn">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
  </div>
  <p class="last_p">¿Ya tienes una cuenta? <ion-button class="trans-btn signup_btn" (click)="login()">Entrar
    </ion-button>
  </p>
</ion-content>